.gallery-image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(white, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: #6d7e63db;
    width: 110%;
    height: 150%;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  &:before,
  &:after {
    right: 100%;
    bottom: 100%;
  }
  &:after {
    left: 100%;
    top: 100%;
  }

  &.visible {
    color: rgba(white, 1);
    text-shadow: 0 0 1px rgba(black, 0.2);
    transition: all 0.2s ease 0.3s;
    &:before,
    &:after {
      opacity: 1;
    }
    &:before {
      right: -1.5em;
      bottom: -1.5em;
    }
    &:after {
      left: -1.5em;
      top: -1.5em;
    }
  }
}
.gallery {
  //   column-gap: 0;
  //   column-count: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //   @media (min-width: 480px) {

  //   @media (min-width: 1260px) {
  //   @include breakpoint("<=xlarge") {
  //     column-count: 1;
  //   }
}
.gallery-link {
  width: 100%;
  margin: 0.5rem;
  border-bottom: none;
  @include breakpoint('<=medium') {
    max-width: 48%;
    margin: 0.25rem;
  }
  @include breakpoint('<=small') {
    max-width: 100%;
    margin: 0.25rem;
  }
}
.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 6px solid _palette(border);
    transition: all 0.2s;
    will-change: border;
  }
  &:after {
    border-width: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
  html:not(.touch) & {
    overflow: hidden;
    figcaption {
      @extend .gallery-image-caption;
    }
    &:hover {
      &:before {
        border-width: 16px;
      }

      &:after {
        border-width: 32px;
      }

      figcaption {
        @extend .gallery-image-caption.visible;
      }
    }
  }
  .touch & {
    figcaption {
      @extend .gallery-image-caption;
      @extend .gallery-image-caption.visible;
      top: auto;
      bottom: 2em;
    }
  }
}
